.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: white;
}

.background {
  background: white;
}

* {
  box-sizing: border-box;
}

button {
  background: white;
  color: #334;
  border-radius: 4px;
  margin: 0 4px;
}

.dark-mode button {
  background: #222;
  color: #eee;
}

/*dark mode*/
.dark-mode body {
  background: #334;
  color: white;
}

.dark-mode .background {
  background: #334;
}

html.dark-mode {
  /*filter: invert(100%);*/
}

.dark-mode label {
  color: #bbb;
}

.dark-mode label {
  color: #bbb;
}
label {
  color: #222;
  font-size: 12px;
}

select {
  background: white;
  color: #334;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.dark-mode select {
  background: #222;
  color: #eee;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.dark-mode textarea,
.dark-mode input[type='text'] {
  background: #222;
  color: #eee;
}
.dark-mode input[type='range'] {
  background: #222;
  color: #eee;
}

input[type='checkbox'] {
  vertical-align: middle;
}
